main #listbox {
  background-color: #901C1C;
  width: 180px;
  border-radius: 3px;
  margin-top: 10px;
}

main #listbox .btn-grp{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


main #listbox button{
  background-color:transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-style: normal;
font-size: 14.5px;
}

main #listbox #open{
  margin-right: 8px;
  font-size: 26px;
}

main #listbox button[data-current]{
  padding: 14px 0px 14px 10px;
}

main #listbox #content {
  display: flex;
  flex-direction: column;
  align-items: center;

}

main #listbox #content button {
  width: 90%;
  padding: 14px 20px;
  border-top: 1px solid white;
}

main .listbox-container {
 display: flex;
 align-items: baseline;
}

main .listbox-container label {
 display: flex;
 align-items: center;
 font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 23px;
margin-right: 12px;
}



@media all and (max-width:426px){


main .listbox-container {
 display: none;
}

}