* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

header {
  padding: 43px 100px 40px 100px;
}

header img{
    width:200px;
    height:50px;
}

main{
    padding: 0px 100px;
}

.tag {
  text-decoration: none;
  margin: 2px;
  border: 0.5px solid #C4C4C4;
  border-radius: 15px;
  padding: 5px 8px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
line-height: 23px;
color: #911C1C;
}

.open{
  display: flex !important;
}

.closed{
  display: none !important;
}


.liked{
  background-color: rgb(78, 233, 78);
  color: white;
}

main #infos img{
   
  height: 200px;
  width: 200px;
  border-radius: 100%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  object-fit: cover;
}

main #infos{
    display: flex;
    background-color: #FAFAFA;
    border-radius: 5px;
    justify-content:space-between;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 56px;
}

main #infos #contact{
    background-color: #911C1C;
border-radius: 5px;
color: white;
width: 170px;
height: 69px;
border: none;
font-size: 20px;
margin-top: 7px;
cursor: pointer;
position: relative;
right: 20px;
}

main #infos .description h1{
  font-size: 64px;
line-height: 83px;
color: #D3573C;
}

main #infos .description p {
display:flex;
flex-direction: column;
margin-bottom: 20px;
padding-left: 6px;
}

main #infos .description .city {
font-size: 24px;
line-height: 31px;
color: #901C1C;
margin-bottom: 19px;
}

main #infos .description .tagline {
font-size: 18px;
line-height: 23px;
color: #525252;
}

main #gallery{
  display:flex;
  flex-direction: column;
}

main #gallery #medias{
  display:flex;
  flex-wrap: wrap;
  justify-content:space-between;
  margin-top: 20px;
}

main #gallery .media{
cursor: pointer;
margin-bottom: 30px;
}

main #gallery .media a{
display: flex;
}

main #gallery .media .media-infos{
 display:flex;
 align-items:center;
 justify-content:space-between;
     flex-wrap: wrap;
    width: 350px;
    margin-top: 10px;
}

main #gallery .media .media-infos h2{
  font-size:24px;
  color:#911C1C;
  font-weight:normal;
}

main #gallery .media .media-infos p{
font-size: 24px;
line-height: 31px;
color: #911C1C;
}

main #gallery .media .media-infos p .like {
  position: relative;
  top: 1.7px;
  color: #911C1C;
  cursor: pointer;
}



main #gallery .media img, main #gallery .media video{
  width:350px;
  height:300px;
  border-radius:5px;
  object-fit: cover;
  object-position: 50% 50%;
}


.visible{
  display: flex !important;
  visibility: visible !important;
}


main .score{
  position: fixed;
  bottom: 0;
  right: 50px;
  width: 376px;
  height: 89px;
  background-color:#DB8876;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  align-items: center;
  font-size: 24px;
  padding: 21px 34px;
  justify-content: space-between;
}

main .score p{
  display: flex;
  align-items: center;
}


@media all and (max-width:426px){

  .tag{
    font-size: 13px;
    line-height: 12px;
  }

  main #infos .description .authorTags {
    max-width: 250px;
    display: flex;
    flex-wrap: wrap;
}

main #gallery .media .media-infos{
  width:auto;
  margin-top: 0px;
}

main #gallery .media .media-infos h2{
  font-size:16px;
}

main #gallery .media .media-infos p{
  font-size:16px;
  font-weight: 500;
}

main #gallery .media .media-infos p .like {
  font-size:17.5px;
}

main #gallery .media .media-infos p span{
  font-size:16px;
}

  header {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}

  main{
    padding-left: 20px;
    padding-right: 20px;
  }

  main #infos .description .city {
font-size: 16px;
line-height: 22px;
color: #901C1C;
margin-bottom: 0px;
}

  main #infos .description p {
padding-left: 0px;
margin-bottom: 4px;
}


main #infos .description .tagline {
font-size: 14px;
line-height: 23px;
color: #525252;
}

main #infos{
  background-color: white;
}

  main #infos .description h1{
  font-size: 36px;
line-height: 32px;
font-weight:normal;
margin-bottom: 3px;
}

main #infos img{
  height: 100px;
  width: 100px;
  position: relative;
  bottom: 12px;
}

main #gallery .media img, main #gallery .media video{
  width:100%;
  height:190px;
  border-radius:5px;
  object-fit: cover;
  object-position: 50% 50%;
}

main #infos{
    padding: 0px;
}

main #gallery .media{
  width:100%;
  margin-bottom: 10px;
}

main #infos #contact{
 position: fixed;
 font-size:18px;
 line-height:23px;
 height:35px;
 margin: 0px 25%;
 right:0px;
 z-index: 20;
 bottom: 30px;
}



main .score{
 display: none;
}

}
